main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding: 100px 150px;
    box-sizing: border-box;

  }
  main>div{
    border: 1px solid blue;
    padding: 100px;
    border-radius: 30px;
    margin: auto;
  }

  h1 {
    font-size: 50px;
    font-weight: 900;
    color: blue;
    margin-bottom: 30px;
  }

  form {
    width: 300px;
    margin: 0 auto;
    text-align: center;

  }

  input {
    width: 100%;
    display: block;
    border: 1px solid blue;
    border-radius: 20px;
    height: 35px;
    text-align: center;
    outline: none;
    color: blue;
    font-size: 18px;
    font-weight: 400;
  }

  input::placeholder {
    color: blue;
  }

  .addBtn {
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    background-color: blue;
    width: 200px;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }

  ul {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    padding-inline-start: 0;
    list-style: none;
  }

  li {
    border-bottom: 1px solid blue;
    height: 35px;
    color: blue;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
  }
li p{
  display: inline;
}
  .delBtn{
    border: none;
    color: blue;
    line-height: 35px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    background-color: transparent;
  }
  .delBtn:hover{
    color: red;
    
  }
  .Link{
    text-decoration: none;
    cursor: pointer;
  }
  .Link:hover{
    color: red;
  }